# Binaries
a
b
a_static
b_static
l2shell
l2shell_static

# embedded header server bin blob
l2shell_embedded.h

# Build artifacts
*.o
*.ko
*.mod
*.cmd
*.mod.c
*.mod.o
Module.symvers
modules.order

# Logs and run artifacts
*.log
logs/


# vscode
.vscode/*